.study__box {
  margin: 24px 10px;
  //   width: 240px;
  flex-basis: 25%;
  border-radius: 4px;
  padding: 24px 16px;

  // @ box header
  .study__box__header {
    font-size: 1rem;
    color: #696ffd;
  }

  // @ box body
  .study__box__body {
    padding: 12px 0;
    min-height: 160px;

    .study__tag__list {
      & > span {
        margin-right: 8px;
      }
    }
  }

  // @ box putter
  .study__box__putter {
    padding-top: 10px;
    border-top: 1px dashed black;

    & > .putter__line {
      margin-top: 10px;
    }

    & .user__img {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: #a7a6a6;
      margin-right: 12px;
    }

    & .user__nickname {
      font-weight: bold;
    }
  }
}
