@import "src/style/color.scss";

.study__box {
  & > .study__box__cover__img {
    height: 120px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    & > img {
      width: 100%;
      height: 120px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      object-fit: cover;
    }
  }

  position: relative;

  margin: 24px 10px;
  //   width: 240px;
  flex-basis: 25%;
  border-radius: 10px;
  padding: 0 0 30px;
  background-color: white;
  border: 1px solid #dddddd;

  & > .board__mark {
    position: absolute;
    top: 0px;
    right: 4%;
    // 6 10
    // @42, 70
    width: 28px;
    height: 28px;
    font-size: 28px;
    color: #dddddd;
  }
}

.study__box__content {
  padding: 18px 10% 0;
  // @ box header
  .study__box__header {
    font-size: 1rem;
    font-weight: bold;
  }

  // @ box body
  .study__box__body {
    padding: 12px 0;
    min-height: 80px;

    .study__tag__list {
      & > span {
        color: $color-grey;
        font-size: 14px;
        font-weight: bold;
        margin-right: 8px;
      }
    }
  }

  // @ box putter
  .study__box__putter {
    padding-top: 10px;
    border-top: 1px dashed black;

    & > .putter__line {
      margin-top: 10px;

      & .view__count {
        margin-right: 18px;
      }
    }

    & .user__img {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 1px solid #a7a6a6;
      margin-right: 12px;
    }

    & .user__nickname {
      font-weight: bold;
    }
  }
}
