@import "src/style/color.scss";

.ads__container {
  background-color: #c7c7c7;
  height: 240px;
  margin-bottom: 6vh;
}

.page__title {
  margin-bottom: 20px;

  padding-left: 2.6vw;
}

.study__list__container {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  // flex-wrap: wrap;
  padding: 24px 28px;
  gap: 10px 20px;
}
