@import "./color.scss";
@import "./page.scss";

.border {
  border: 1px solid black;
}

.w100 {
  width: 100%;
}

.relative {
  position: relative;
}

.row {
  display: flex;
  align-items: center;
}

.bold {
  font-weight: bold;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.between__v {
  display: flex;
  justify-content: center;
  align-items: space-between;
}

.center__v {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading__txt {
  font-size: 4rem;
  color: $color-blue;
  position: fixed;

  top: 30vh;
  left: 46vw;
}

.normal__btn,
.positive__btn,
.negative__btn {
  margin: 0 12px;
  width: 90px;
  height: 40px;
  font-size: 14px;
  // font-weight: bold;
  color: #707070;
  border: 1px solid lightgray;
}

.positive__btn {
  background: $color-blue;
  color: $color-white;
}

.negative__btn {
  background-color: $color-grey;
  color: $color-white;
}

label {
  display: block;

  font-size: 0.88rem;
}

.error_span {
  display: block;
  margin-top: 4px;
  color: $color-red;
}

.img_user_profile_box {
  position: relative;
  width: 64px;
  height: 64px;
  border: 1px solid #d5d5d5;
  border-radius: 50%;

  & > .img_no_user_profile {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  & > .img_user_profile {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.img_no_user_profile {
  border: 1px solid;
}
