@import "src/style/color.scss";

.header__container {
  padding: 2.8vh 0 3vh;
  .main__header {
    padding: 0 2.5vw;

    & > h1 {
      margin-bottom: 8px;

      & > span {
        color: $color-blue;
      }
    }
    // #
    .header__btnlist {
      & > button {
        margin: 0 10px;
        font-size: 0.9rem;
        width: 60px;
        height: 34px;
      }
    }
  }
}
