.page__side__header {
  padding-top: 4vh;
  min-height: 100vh;

  & > button:first-child {
    width: 44px;
    // height: 36px;
    margin-bottom: 4vh;
  }

  // @ side header button
  & > a,
  & > button {
    height: auto;

    // @ side btn img
    & img {
      margin-bottom: 10px;
      width: 32px;
    }
  }
}
