// # content body (des, member)
.study__content__body {
  position: relative;
  padding: 34px 22px;

  .study__join__btn {
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    right: 14px;
  }

  .study__like__btn {
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    right: 100px;
  }

  & > h3 {
    // padding-left: 14px;
    margin-bottom: 20px;
  }

  .content__desc {
    margin-bottom: 8vh;
    min-height: 240px;
    font-size: 16px;
    white-space: pre-line;
  }
}

.member__box {
  margin-right: 24px;
  border: 1px solid #c6c6c6;
  border-radius: 8px;
  width: 240px;
  min-height: 240px;
  padding: 14px 18px;

  & > .member__info {
    margin-bottom: 14px;

    // @ member img
    & > img {
      width: 38px;
      height: 38px;
      margin-right: 10px;
      background-color: lightgray;
      border-radius: 8px;
    }

    // @ member name
    & > p {
      font-size: 14px;
      font-weight: bold;
    }
  }

  & > .skill__taglist {
    & > span {
      margin-right: 8px;
      font-size: 14px;
    }
  }
}
